[Unit]
Description=Autostart custom script
After=local-fs.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/autostart.sh
